.container{
  height: 10vh;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    color: #fff;
    position: fixed;
    top: 0;
    width: 98%;
    background-color: aliceblue;
    z-index: 10001;
  }
  
  .logo {
    width: 300px;
  }
  
  .navLinks {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    width: 60%;
  }
  
  .navLinkItem {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
  }
  
  .launchAppButton {
    padding: 1.5rem 1rem;
    background-color: rgb(80, 80, 238);
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .hamburgerButton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .hamburgerIcon {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: relative;
  }
  
  .hamburgerIcon::before,
  .hamburgerIcon::after,
  .hamburgerIcon::after {
    content: '';
    width: 25px;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
  }
  
  .hamburgerIcon::before {
    top: -8px;
  }
  
  .hamburgerIcon::after {
    top: 8px;
  }
  
  .hamburgerIcon::after {
    top: 4px;
  }
  
  @media (max-width: 1000px) {
    .container{
      height: 6vh;
    }
    .navLinks {
      display: none;
    }
    .launchAppButton{
        display: none;
    }
    .logo{
      width: 150px;
    }
    .hamburgerButton {
      display: block;
    }
  
    .navLinks.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 1rem;
    }
  }
  